.vs/study_coding_test/FileContentIndex/a399693e-5cb1-4b15-8826-720a0c4ae58d.vsidx
.vs/study_coding_test/FileContentIndex/d3fbbf02-54a8-4ec7-9f79-d715017cc16a.vsidx
.vs/study_coding_test/v17/.suo
.vs/study_coding_test/v17/Browse.VC.db
.vs/study_coding_test/v17/DocumentLayout.backup.json
.vs/study_coding_test/v17/DocumentLayout.json
.vs/study_coding_test/v17/ipch/AutoPCH/387165b91bd002c5/MAIN.ipch
study_coding_test/main.cpp
study_coding_test/study_coding_test.vcxproj
study_coding_test/study_coding_test.vcxproj.filters
study_coding_test/study_coding_test.vcxproj.user
study_coding_test/x64/Debug/main.obj
study_coding_test/x64/Debug/study_coding_test.exe.recipe
study_coding_test/x64/Debug/study_coding_test.ilk
study_coding_test/x64/Debug/study_coding_test.log
study_coding_test/x64/Debug/vc143.idb
study_coding_test/x64/Debug/vc143.pdb
study_coding_test/x64/Debug/study_co.7af1a034.tlog/CL.command.1.tlog
study_coding_test/x64/Debug/study_co.7af1a034.tlog/Cl.items.tlog
study_coding_test/x64/Debug/study_co.7af1a034.tlog/CL.read.1.tlog
study_coding_test/x64/Debug/study_co.7af1a034.tlog/CL.write.1.tlog
study_coding_test/x64/Debug/study_co.7af1a034.tlog/link.command.1.tlog
study_coding_test/x64/Debug/study_co.7af1a034.tlog/link.read.1.tlog
study_coding_test/x64/Debug/study_co.7af1a034.tlog/link.secondary.1.tlog
study_coding_test/x64/Debug/study_co.7af1a034.tlog/link.write.1.tlog
study_coding_test/x64/Debug/study_co.7af1a034.tlog/study_coding_test.lastbuildstate
x64/Debug/study_coding_test.exe
x64/Debug/study_coding_test.pdb
study_coding_test.sln
